//font weight
$button-weight: 600;
$medium-weight: 400;
$light-weight: 200;

//font weight
$secondary-color: rgba(236, 159, 5, 1);
$primary-color: rgba(30, 30, 30, 1);
$tertiary-color: white;

//breakpoints
$desktop: 1024px;
$tablet: 425px;

//others
$border-radius: 2px;
