@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~ress/dist/ress.min.css";
@font-face {
  font-family: "Anurati";
  src: url("@/styles/anurati-font/Anurati-Regular.otf");
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: $tertiary-color;
  overflow-x: hidden;
}
body {
  background: rgb(30, 30, 30);
  background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
h2 {
  font-size: 20px;
  font-weight: $medium-weight;
  border-bottom: 4px solid $tertiary-color;
  padding-bottom: 8px;
  width: fit-content;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e1e1e inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $secondary-color !important;
}
.carousel-3d-slide {
  border-radius: $border-radius;
  border: 2px $primary-color solid;
  background: rgb(236, 159, 5);
  background: linear-gradient(
    90deg,
    rgba(236, 159, 5, 1) 0%,
    rgba(236, 86, 5, 1) 100%
  );
  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
    gap: 24px;
    cursor: pointer;

    &__line {
      height: 100%;
      width: 2px;
      background-color: $tertiary-color;
    }
    &__text {
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      height: 150px;
    }
  }
}
